//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


params {
    help = false
    version = false
    analyse_unclassified = false
    fastq = null
    reference_genome = null
    targets = null
    threads = 8
    out_dir = "output"
    full_report = false
    sample = null
    sample_sheet = null

    aws_image_prefix = null
    aws_queue = null
    report_name = "report"
    disable_ping = false

    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf,report_name'

    wf {
        example_cmd = [
            "--fastq 'wf-cas9-demo/fastq/sample_1'",
            "--full_report",
            "--reference_genome 'wf-cas9-demo/grch38/grch38_chr19_22.fa.gz'",
            "--targets 'wf-cas9-demo/targets.bed'"
        ]

      container_sha = "shaa7b95018145dc9c753d6092309ac6be5166a491a"
      common_sha = "sha91452ece4f647f62b32dac3a614635a6f0d7f8b5"
    }
}

manifest {
    name            = 'epi2me-labs/wf-cas9'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-cas9'
    description     = 'Summarise the results of Cas9 enrichment sequencing.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v1.0.0'

}

epi2melabs {
    tags = "quality control"
    icon = "faBullseye"
}

env {
	PYTHONNOUSERSITE = 1
}


// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    withLabel:cas9 {
        container = "ontresearch/wf-cas9:${params.wf.container_sha}"
    }
    withLabel:wf_common {
        container = "ontresearch/wf-common:${params.wf.common_sha}"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }


    // profile using conda environments
    conda {
		conda.enabled = true
	}

    // Using AWS batch.
    // May need to set aws.region and aws.batch.cliPath
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '8G'
            withLabel:cas9 {
                container = "${params.aws_image_prefix}-wf-cas9:${params.wf.container_sha}"
            }
            withLabel:wf_common {
                container = "${params.aws_image_prefix}-wf-common:${params.wf.common_sha}"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}
